<div id="eggModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" id="CustomerForm">
        <button type="button" class="close btn btn-default" data-dismiss="modal">&times;</button>
		<form data-request="onNewCustomer" 
				data-request-update="'Invoice::customerList': '#customerList'">
			<label for="Amount" class="control-label">Name of New Customer</label>
	        <input
	            id="CustomerName"
	            name="name"
	            type="text"
	            class="form-control"
	            value="" />
			<button type="submit" class="btn btn-primary btn-lg">Save</button>
        </form>
    </div>
  </div>
</div>

<form data-request="onUpdate" data-request-update="'Invoice::list': '#saleinfo'">
        <input type="hidden" name="id" value="{{ __SELF__.sale.id  }}">

    <div class="layout-row">
	    <div class="col-md-6"> 
		    <div class="form-group" id="customerList">
{% partial __SELF__~'::customerList' %}
		    </div>


		         <!-- Text -->

		    <div class="form-group">
		        <label for="Product" class="control-label">Product</label>
		        <input
		            id="Product"
		            name="description"
		            type="text"
		            class="form-control"
		            value="{% if __SELF__.sale.description %}{{ __SELF__.sale.description }}{% else %}{{ defProduct }}{% endif %}" />
		    </div>

		        <!-- Text -->
		</div>
	</div>
        
	<div class="layout-row">
	    <div class="col-md-6"> 
	        <!-- Text -->

		    <div class="form-group">
		        <label for="Qty" class="control-label">Qty</label>
		        <input
		            id="Qty"
		            name="qty"
		            type="text"
		            class="form-control"
		            value="{{ __SELF__.sale.qty }}" />
		    </div>

		        <!-- Text -->

		    </div>
		    <div class="col-md-6">
		        
		        <!-- Text -->

		    <div class="form-group">
		        <label for="Amount" class="control-label">$</label>
		        <input
		            id="Amount"
		            name="amount"
		            type="text"
		            class="form-control"
		            value="{{ __SELF__.sale.amount }}" />
		    </div>

	        <!-- Text -->
		</div>
	</div>
<!-- End Row -->
<div class="layout-row">

    <div class="col-md-6">
        <label for="DatePicker-date">
        Date
        </label>
        <div
            id="DatePicker-formDate-date"
            class="field-datepicker"
            data-control="datepicker"
            data-min-date="2015-01-01 00:00:00"
            data-max-date="{{ date()|date("Y") +5 }}-12-31 00:00:00">
            <div class="input-with-icon">
                <i class="icon icon-calendar-o"></i>
                <input
                    type="text"
                    id="DatePicker-date"
                    name="date"
                    value="{% if __SELF__.sale.created_at %}{{ __SELF__.sale.date }}{% endif %}"
                    class="form-control"
                    autocomplete="off"
                     />
            </div>
        </div>
    </div>

    <div class="col-md-6"
        data-field-name="time"
        id="Form-field-Event-time-group">
        <label for="DatePicker-time">
        Time
        </label>
        <div
            id="DatePicker-time"
            data-control="timepicker"
            class="field-timepicker clockpicker">
            <div class="input-with-icon right-align">
                <i class="icon icon-clock-o"></i>
                <input
                    type="text"
                    id="DatePicker-time"
                    name="time"
                    value="{% if __SELF__.sale.created_at %}{{ __SELF__.sale.time }}{% endif %}"
                    class="form-control align-right"
                    autocomplete="off"
                    data-autoclose="true"
                    data-placement="bottom"
                    data-align="right"
                     />
            </div>
        </div>
    </div>

</div>
<!-- End Row -->  
<div class="layout-row">
<p>&nbsp;</p>
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
	    <span class="btn-text">
	        or <a href="">Cancel</a>
	    </span>
    </div>
    <div class="col-md-6">
		<p>&nbsp;</p>
    </div>
</div>
<!-- End Row -->  
</form>